# w9 lab note

In [9]:
# sc.parallelize(data, cluster size)
rddList = sc.parallelize([1,2,3,4,5,6],2)
rddList.collect()

[1, 2, 3, 4, 5, 6]

In [2]:
'''
1.(0,0) sum and count 
2.sum + value, count(++)
3.merge results
'''
rddList.aggregate(
(0,0),
(lambda x,y: (x[0]+y,1)),
(lambda rdd1,rdd2: (rdd1[0]+rdd2[0],rdd1[1]+rdd2[1]))
)

(21, 2)

In [5]:
1+2+3+4+5+6

21

In [6]:
rddList.aggregate(
(0,0),
(lambda x,y: (x[0]+y*y,1)),
(lambda rdd1,rdd2: (rdd1[0]+rdd2[0],rdd1[1]+rdd2[1]))
)

(91, 2)

[1, 2, 3, 4, 5, 6]

## Machine Learning

In [11]:
data = sc.parallelize(['1,2,3,4,5','4,5,6,7,8'])
data.collect()

['1,2,3,4,5', '4,5,6,7,8']

### Mean

In [13]:
from pyspark.mllib.linalg import Vectors
from pyspark.mllib.stat import Statistics

data2 = data.map(lambda x: x.split(",")).map(lambda x: Vectors.dense(x))
summary = Statistics.colStats(data2)
summary.mean()

array([ 2.5,  3.5,  4.5,  5.5,  6.5])

In [26]:
# confirm above calculation is correct 
import numpy as np 
matrix = np.matrix([[1,2,3,4,5],[4,5,6,7,8]])
print(matrix)
print(matrix.mean(0))

[[1 2 3 4 5]
 [4 5 6 7 8]]
[[ 2.5  3.5  4.5  5.5  6.5]]

In [39]:
from pyspark.mllib.regression import LabeledPoint
data2 = data.map(lambda x: x.split(",")).map(lambda x: LabeledPoint(x[0],x[1:]))
data2.collect()

[LabeledPoint(1.0, [2.0,3.0,4.0,5.0]), LabeledPoint(4.0, [5.0,6.0,7.0,8.0])]

### LabeledPoint

In [ ]:
from pyspark.mllib.regression import LabeledPoint
data2 = data.map(lambda x: x.split(",")).map(lambda x: LabeledPoint(x[0],x[1:]))
data2.collect()

### Crime Data

In [41]:
crime = sqlContext.read.format('com.databricks.spark.csv').options(header='true',inferschema='true').load('/Users/inshique/Dropbox/Classes/3_Spring_2017/431_Hadoop_by_Diego/Homework/hw4 spark/data/crimeSample.csv')
crime.show()

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10078659|   HY267429|05/19/2015 11:57:...|     010XX E 79TH ST|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|              STREET|  true|   false| 624|       6|   8|            44|      15|     1184626|     1852799|2015|05/26/2015 12:42:...|41.751242944|-87.599004724|(41.751242944, -8...|
|10078598|   HY267408|05/19/2015 11:50:...| 067XX N SHERIDAN RD|3731|INTERFERENCE WITH...|OBSTRUCTING IDENT...|              STREET|  true|   false|2432|      24|  49|             1|      24|     1167071|     1944859|2015|05/26/2015 12:42:...|42.004255918|-87.660691083|(42.004255918, -8...|
|10078625|   HY267417|05/19/2015 11:47:...|     026XX E 77TH ST|2170|           NARCOTICS|POSSESSION OF DRU...|              STREET|  true|   false| 421|       4|   7|            43|      18|     1195299|     1854463|2015|05/26/2015 12:42:...|41.755552462|-87.559839339|(41.755552462, -8...|
|10078662|   HY267423|05/19/2015 11:46:...|     015XX E 62ND ST|051A|             ASSAULT| AGGRAVATED: HANDGUN|           APARTMENT| false|    true| 314|       3|   5|            42|     04A|     1187377|     1864316|2015|05/26/2015 12:42:...|41.782781732|-87.588558362|(41.782781732, -8...|
|10078584|   HY267397|05/19/2015 11:45:...|054XX S PRINCETON...|4625|       OTHER OFFENSE|    PAROLE VIOLATION|         GAS STATION|  true|   false| 935|       9|   3|            37|      26|     1175180|     1868551|2015|05/26/2015 12:42:...|41.794684214|-87.633149481|(41.794684214, -8...|
|10078629|   HY267393|05/19/2015 11:40:...|013XX S LAWNDALE AVE|0454|             BATTERY|AGG PO HANDS NO/M...|              STREET|  true|   false|1011|      10|  24|            29|     08B|     1151957|     1893696|2015|05/26/2015 12:42:...|41.864172884|-87.717647622|(41.864172884, -8...|
|10079225|   HY267395|05/19/2015 11:30:...|   064XX S LAFLIN ST|0497|             BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|    true| 725|       7|  17|            67|     04B|     1167397|     1862229|2015|05/26/2015 12:42:...|41.777506284|-87.661870632|(41.777506284, -8...|
|10078594|   HY267388|05/19/2015 11:30:...|   021XX W NORTH AVE|1305|     CRIMINAL DAMAGE| CRIMINAL DEFACEMENT|            SIDEWALK|  true|   false|1434|      14|  32|            24|      14|     1162022|     1910669|2015|05/26/2015 12:42:...|  41.9105442|-87.680225036|(41.9105442, -87....|
|10080768|   HY269123|05/19/2015 11:30:...| 008XX N KILDARE AVE|0820|               THEFT|      $500 AND UNDER|           RESIDENCE| false|   false|1111|      11|  37|            23|      06|     1147592|     1905491|2015|05/26/2015 12:42:...|41.896624505|-87.733368852|(41.896624505, -8...|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+

In [40]:
import pandas as pd 

crime_pd = pd.read_csv('/Users/inshique/Dropbox/Classes/3_Spring_2017/431_Hadoop_by_Diego/Homework/hw4 spark/data/crimeSample.csv')
crime_pd.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10078659,HY267429,05/19/2015 11:57:00 PM,010XX E 79TH ST,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,True,False,...,8,44,15,1184626,1852799,2015,05/26/2015 12:42:06 PM,41.751243,-87.599005,"(41.751242944, -87.599004724)"
1,10078598,HY267408,05/19/2015 11:50:00 PM,067XX N SHERIDAN RD,3731,INTERFERENCE WITH PUBLIC OFFICER,OBSTRUCTING IDENTIFICATION,STREET,True,False,...,49,1,24,1167071,1944859,2015,05/26/2015 12:42:06 PM,42.004256,-87.660691,"(42.004255918, -87.660691083)"
2,10078625,HY267417,05/19/2015 11:47:00 PM,026XX E 77TH ST,2170,NARCOTICS,POSSESSION OF DRUG EQUIPMENT,STREET,True,False,...,7,43,18,1195299,1854463,2015,05/26/2015 12:42:06 PM,41.755552,-87.559839,"(41.755552462, -87.559839339)"
3,10078662,HY267423,05/19/2015 11:46:00 PM,015XX E 62ND ST,051A,ASSAULT,AGGRAVATED: HANDGUN,APARTMENT,False,True,...,5,42,04A,1187377,1864316,2015,05/26/2015 12:42:06 PM,41.782782,-87.588558,"(41.782781732, -87.588558362)"
4,10078584,HY267397,05/19/2015 11:45:00 PM,054XX S PRINCETON AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,GAS STATION,True,False,...,3,37,26,1175180,1868551,2015,05/26/2015 12:42:06 PM,41.794684,-87.633149,"(41.794684214, -87.633149481)"

In [36]:
crime_pd.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

### Example of using Spark SQL and Standard SQL

In [29]:
# Spark SQL 
crime.groupBy(crime.Block).avg('Ward').show()

+--------------------+---------+
|               Block|avg(Ward)|
+--------------------+---------+
|     010XX E 79TH ST|      8.0|
|013XX S LAWNDALE AVE|     24.0|
| 008XX N KILDARE AVE|     37.0|
|054XX S PRINCETON...|      3.0|
|   021XX W NORTH AVE|     32.0|
|     026XX E 77TH ST|      7.0|
| 067XX N SHERIDAN RD|     49.0|
|     015XX E 62ND ST|      5.0|
|   064XX S LAFLIN ST|     17.0|
+--------------------+---------+

In [43]:
# Standard SQL 
from pyspark.sql import SQLContext # not sure if this was necessary 

crime.registerTempTable("crimeTable")
sqlContext.sql("SELECT Block, AVG(Ward) FROM crimeTable GROUP BY Block").show()

+--------------------+---------+
|               Block|avg(Ward)|
+--------------------+---------+
|     010XX E 79TH ST|      8.0|
|013XX S LAWNDALE AVE|     24.0|
| 008XX N KILDARE AVE|     37.0|
|054XX S PRINCETON...|      3.0|
|   021XX W NORTH AVE|     32.0|
|     026XX E 77TH ST|      7.0|
| 067XX N SHERIDAN RD|     49.0|
|     015XX E 62ND ST|      5.0|
|   064XX S LAFLIN ST|     17.0|
+--------------------+---------+

### Feature Library

In [ ]:
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import VectorAssembler

In [44]:
df = sqlContext.createDataFrame([(1.0,2.0,3.0),(-2.0,1.0,10.0),(2.0,-9.0,10.0)],['label','b','c'])
df.show()

+-----+----+----+
|label|   b|   c|
+-----+----+----+
|  1.0| 2.0| 3.0|
| -2.0| 1.0|10.0|
|  2.0|-9.0|10.0|
+-----+----+----+

In [46]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=['b','c'],outputCol='allFeatures')
assembler.transform(df).show()

+-----+----+----+-----------+
|label|   b|   c|allFeatures|
+-----+----+----+-----------+
|  1.0| 2.0| 3.0|  [2.0,3.0]|
| -2.0| 1.0|10.0| [1.0,10.0]|
|  2.0|-9.0|10.0|[-9.0,10.0]|
+-----+----+----+-----------+

In [52]:
from pyspark.ml.feature import StandardScaler

scaler = StandardScaler(inputCol='allFeatures',outputCol='features',withStd=True,withMean=False)
scaler.t

In [51]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[assembler,scaler])
pipeline.fit(df)
pipeline.fit(df).transform(df).show()

+-----+----+----+-----------+--------------------+
|label|   b|   c|allFeatures|            features|
+-----+----+----+-----------+--------------------+
|  1.0| 2.0| 3.0|  [2.0,3.0]|[0.32879797461071...|
| -2.0| 1.0|10.0| [1.0,10.0]|[0.16439898730535...|
|  2.0|-9.0|10.0|[-9.0,10.0]|[-1.4795908857482...|
+-----+----+----+-----------+--------------------+

In [54]:
from pyspark.ml.regression import LinearRegression

ols = LinearRegression(maxIter=10)
pipeline = Pipeline(stages=[assembler,scaler,ols])
pipeline.fit(df).transform(df).show()

+-----+----+----+-----------+--------------------+-------------------+
|label|   b|   c|allFeatures|            features|         prediction|
+-----+----+----+-----------+--------------------+-------------------+
|  1.0| 2.0| 3.0|  [2.0,3.0]|[0.32879797461071...| 0.9999999999999969|
| -2.0| 1.0|10.0| [1.0,10.0]|[0.16439898730535...|-1.9999999999999951|
|  2.0|-9.0|10.0|[-9.0,10.0]|[-1.4795908857482...| 1.9999999999999987|
+-----+----+----+-----------+--------------------+-------------------+